.header {
	margin-bottom: 100px;
}
.container {
	background-image: url("https://images.contentstack.io/v3/assets/blt137524604e62b5cb/blt971bfb34d4e547b8/5f50e9400ab106265a188450/Home-hero-banner-new@3x.png?auto=webp&quality=100&format=pjpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	margin: auto;
}
.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0px;
}
.nav-content {
	margin-left: 20px;
}
.logo-image {
	margin-left: 50px;
}

.nav-links {
	margin-right: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}
.navbar {
	font-size: 18px;
	margin: 0px 15px;
	cursor: pointer;
	&:hover {
		color: #2386c8;
	}
	&:focus {
		outline: none;
	}
}
.main-content {
	margin-top: 120px;
	margin-left: 70px;
	width: 70%;
}
.content-heading {
	font-size: 58px;
}
.content-sub {
	width: 80%;
	font-size: 22px;
	line-height: 35px;
}

@media (max-width: 750px) {
	.container {
		height: auto;
	}
	.nav-container {
		flex-direction: column;
		padding: 0px;
	}
	.nav-content {
		margin-left: 0px;
	}
	.logo-image {
		margin-left: 0px;
	}
	.content-heading {
		font-size: 6vh;
	}
	.content-sub {
		font-size: 3vh;
		line-height: 20px;
	}
	.nav-links {
		display: flex;
		flex-direction: column;
		line-height: 30px;
		margin-right: 0px;
	}
}
@media (max-width: 1000px) {
	.main-content {
		margin-top: 10vh;
		width: 100%;
		margin-left: 0px;
	}
}
@media (max-width: 300px) {
	.main-heading {
		font-size: 4vh;
	}
	.content-sub {
		font-size: 3vh;
	}
}
