.main {
	color: white;
	height: 110vh;
	background-image: url("https://images.contentstack.io/v3/assets/bltc5a09bf374882538/blt0eac3686a06a4a3f/5f1a2be2ecbff322d09554d6/hero-carousel-1.jpg");
}
.cs-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
}
.nav-bar {
	list-style: none;
	display: flex;
}
.nav-bar ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.nav-bar li {
	list-style: none;
}
.home {
	margin-right: 50px;
	&:hover {
		color: #eb5646;
	}
}
.logo {
	margin-left: 50px;
	width: 200px;
	height: 38px;
}

.banner {
	text-align: center;
	width: 70%;
	margin: auto;
	margin-top: 18vh;
}
.banner h1 {
	font-size: 60px;
}
.banner p {
	font-size: 21px;
}
.banner-content {
	text-align: center;
}
.free {
	background-color: #eb5646;
	color: white;
	padding: 10px 40px;
	display: inline;
	border: 4px solid #eb5646;
	&:hover {
		cursor: pointer;
		transition: 0.5s;
		background-color: transparent;
	}
}
@media (max-width: 880px) {
	.main {
		background-image: none;
		background-color: #2a0f57;
		height: auto;
	}
	.banner-content {
		margin-top: 30px;
	}
	.banner-content h1 {
		font-size: 40px;
	}
	.banner-content p {
		font-size: 18px;
	}
}
@media (max-width: 500px) {
	.cs-container {
		flex-direction: column;
		padding: 0px;
	}
	.logo {
		margin-left: 0px;
	}
	.banner-content h1 {
		font-size: 25px;
	}
	.banner-content p {
		font-size: 15px;
	}
	.free {
		padding: 10px 20px;
	}
}
@media (max-width: 160px) {
	.free {
		padding: 5px 10px;
	}
}
